include _utils.jade

doctype html
html(lang="eng")
  head
    meta(name="keywords", content="quantum,chess")
    meta(name="author", content="Cap. Hindsight <hindsight@yandex.ru>")
    +setup_bootstrap
  body
    .container
      h1 Quantum chess
      p.lead The thousand-years-old game of chess meets quantum physics
      
      p Your ad could be here :)
