body
  padding-top: 2rem
  padding-bottom: 2rem

  .centered
    text-align: center

.center-of-screen
  height: 34px
  width: 150px
  position: fixed
  top: 50%
  left: 50%
  margin-top: -17px
  margin-left: -75px
