body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.centered {
    text-align: center;
}

.center-of-screen {
    height: 34px;
    width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -75px;
}

.chessboard-container {
    padding-top: 50px;
}

table.chessboard {
    border-collapse: collapse;
    table-layout: fixed;
    width: 320px;
}

table.chessboard td {
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

table.chessboard td canvas {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
}

.square-black:not(.square-source) {
    background-color: #d3d3d3;
}

.square-white:not(.square-source) {
    background-color: #ffffe0;
}

.square-source {
    background-color: #99ff99;
}
